body {
  font-family: Arial, sans-serif; /* Tipo de texto general */
  margin: 0;
  padding: 0;
  background: #f4f4f4 url("Gym\ fondo.png") center/120rem no-repeat; /* Linkeamos imagen de fondo */
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"], 
input[type="password"],
input[type="number"],
select,
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button, .boton-index { /* Configuramos botones de registro y de Inicio */
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; 
  text-align: center; 
}

button:hover, .boton-index:hover {
  background-color: #0056b3;
}